body{
	padding-right: 0!important;
}
.btn-primary {
	background: #00bbee;
	border: 1px solid #00bbee
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary:focus,
.btn-primary.focus {
	background: #03acda;
	border: 1px solid #03acda;
}

.btn-default,
.btn-default:focus,
.btn-default.focus {
	background: none;
	border: 1px solid #ffffff;
	color: #ffffff;
}

.btn-default:hover,
.btn-default:active,
.btn-default.active {
	background: #00bbee;
	border: 1px solid #00bbee;
	color: #ffffff;
}

body {
	padding: 0px;
	background: #FFFFFF;
	padding-right: 0;
}

li {
	list-style: none;
	text-decoration: none;
}

.inner {
	width: 1200px;
	margin: 0px auto;
}

.newslist {
	overflow: hidden;
	margin-top: 3px;
}

#header {
	background: #f1f2f3;
}

#topbar {
	background: #1e1b29;
	line-height: 28px;
	height: 28px;
	color: #ffffff;
}

#topbar .pull-right a {
	margin-left: 10px;
	cursor: pointer;
}

#topbar .pull-right a:hover {
	color: #00bbee;
}

#topbar a {
	color: #ffffff;
}

.loc {
	display: inline-block;
	padding-left: 20px;
	background: url(../images/loc.png) 0px 50% no-repeat;
}

.loc {
	cursor: pointer;
}

.loc select {
	color: #fff;
	background: #352f4b;
	border-radius: 5px;
	border: 0;
	outline: none;
}

#ssq-modal .modal-content {
	height: 254px;
}

#ssq-modal .modal-body {
	padding-bottom: 50px;
}

#prov {
	margin-left: 15px;
}

#prov,
#city,
#country {
	width: 31%;
	border: 1px solid #d8d6d6;
	height: 38px;
	border-radius: 5px;
	color: #474747;
}

.sendbtn {
	width: 120px;
	text-align: center;
	margin-left: 40%;
}

#logo {
	height: 82px;
	padding: 8px 0px;
}

#nav {
	height: 82px;
	padding: 26px 200px;
	line-height: 30px;
}

#nav ul {
	padding: 0px;
	overflow: hidden;
}

#nav ul li {
	float: left;
	text-align: center;
	width: 100px;
	position: relative;
	z-index: 100;
}

#nav ul li a {
	color: #000000;
	font-size: 16px;
}

#nav ul li:hover a {
	color: #00bbee;
}

#nav ul li ul {
	/*position: absolute;*/
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	padding: 10px 0px;
	display: none;
}

#nav ul li:hover ul {
	display: block;
}

#nav ul li ul li {}

#nav ul li:hover ul li a {
	color: #ffffff;
}

#nav ul li:hover ul li a:hover {
	color: #00bbee;
}

#banner {
	height: 800px;
	position: relative;
	overflow: hidden;
}

#banner .index-ban {
	position: absolute;
	width: 1920px;
	left: 50%;
	margin-left: -960px;
}

#banner .index-ban .pos-abs {
	width: 100%;
	transition: all 1s;
}

#banner .index-ban .text {
	top: 100px;
	opacity: 0;
}

#banner .index-ban .btn-login {
	top: 210px;
	opacity: 0;
	transition: all 1s;
}

#banner .index-ban .btn-login button {
	width: 165px;
}

#banner .index-ban .hand {
	bottom: -200px;
	opacity: 0;
	padding-right: 300px;
}

#banner .index-ban.init .text {
	top: 166px;
	opacity: 1;
}

#banner .index-ban.init .btn-login {
	top: 250px;
	opacity: 1
}

#banner .index-ban.init .hand {
	bottom: 0px;
	opacity: 1;
}

#banner2 {
	height: 385px;
	position: relative;
	overflow: hidden;
}

#banner2 .inner-banner {
	position: absolute;
	width: 1920px;
	left: 50%;
	margin-left: -960px;
}

.login-modal {
	margin-top: 100px;
}

.login-modal .modal-content {
	background: rgba(0, 0, 0, 0.6);
	color: #ffffff;
}

.login-modal .modal-content a {
	color: #ffffff;
}

.login-modal .modal-content .popover {
	color: #333333;
}

.login-modal .modal-header {
	border: none;
}

.login-modal button.close {
	color: #ffffff;
	opacity: 0.8;
}

.login-modal button.close:hover {
	color: #ffffff;
}

.content {
	min-height: 360px;
}

#footer .inner {
	border-top: 1px solid #e2e2e2;
}

.service-list dl {
	overflow: hidden;
	margin: 10px -48px;
	height: 240px;
}

.service-list dl.open {
	height: auto;
}

.service-list dl dt {
	font-size: 18px;
	color: #000000;
	margin: 0px 48px;
	padding-left: 15px;
	line-height: 20px;
}

.service-list dl dd a {
	width: 162px;
	height: 176px;
	float: left;
	border: 1px solid #e5e5e5;
	margin: 20px 48px;
	padding: 25px 10px 0px 10px;
	border-radius: 5px;
	text-align: center;
}

.service-list dl dd a img {
	width: 40px;
	height: 40px;
}

.service-list dl dd a:hover {
	border: 1px solid #3e8eff;
}

.service-list dl dd .desc {
	color: #c2c2c2;
}

.service-list dl dd h4 {
	color: #000000;
	font-size: 16px;
}

#s1 dd {
	overflow: hidden;
}

.s-color {
	border-left: 10px solid #3bc0d3;
}

.news-list li {
	border-bottom: 1px solid #f4f4f4;
}

.news-list li:hover .title,
.news-list li:hover .desc,
.news-list li:hover .date {
	color: #059ecd;
}

.news-list li .daterq {
	font-size: 16px;
	line-height: 25px;
	color: #767676;
	float: right;
}

.news-list li .year {
	color: #767676;
}

.news-list li .title {
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 15px;
	color: #000000;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.news-list li .desc {
	color: #474747;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	font-size: 14px;
}

.news-detail-title {
	font-size: 20px;
	color: #000000;
	font-weight: bold;
	line-height: 30px;
}

.news-detail-info {
	color: #e2e2e2;
	border-bottom: 1px solid #E2E2E2;
}

.pagination {
	float: right;
}

.pagination .active {
	background: #00bbee;
	padding: 8px;
	margin-right: 10px;
	color: #fff;
}

.pagination a {
	background: #fff;
	padding: 8px;
	margin-right: 10px;
}

.center{
	position: relative;
}

.center .banner {
	background: url(../img/my.jpg) no-repeat center bottom;
	height: 275px;
	
}

.bannerdown {
	background: url(../images/ban2.jpg) no-repeat center bottom;
	height: 275px;
	position: relative;
}

.center .default {
	position: absolute;
	top: 7%;
	left: 50%;
	color: #fff;
}

#sdf {
	position: absolute;
	top: 0;
	width: 109px;
	height: 109px;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 50%;
	text-align: center;
	line-height: 111px;
	display: none;
	cursor: pointer;
}

#cropper-div {
	margin: 15px 0;
	text-align: center;
}

#cropper-div img {
	border: 1px solid #e0e0e0;
	padding: 15px;
	width: 200px;
}

#cropper-preview-p {
	margin-top: 15px;
}

.center .default p {
	text-align: center;
}

.center .default:hover #sdf {
	display: block;
}

.center .default .img {
	margin-bottom: 15px;
	position: relative;
	width: 109px;
	height: 109px;
	border-radius: 50%;
}

.center .poset {
	font-size: 18px;
	color: #474747;
	border-bottom: 1px solid #bebebe;
}

.center .middle {
	margin-top: 15px;
	margin-bottom: 15px;
	overflow: hidden;
	min-height: 371px;
}

.center .leftmenu {
	background: #f5f5f5;
}

.center .leftmenu ul {
	padding: 0;
}

.center .leftmenu ul li {
	padding: 10px 0;
	margin-left: 18%;
}

.center .leftmenu ul li a img {
	margin-right: 10px;
}

.center .leftmenu ul li a {
	font-size: 16px;
	color: #474747;
	border: none;
}

.center .rightcenter ul li {
	overflow: hidden;
	border-bottom: 1px solid #f4f4f4;
	padding: 30px;
}

.center .rightcenter ul li input {
	border: none;
	outline: none;
}

.center .rightcenter ul button {
	margin: 50px 0;
	margin-left: 32%;
	background: #00bbee;
	color: #fff;
	padding: 5px 80px;
	border-radius: 5px;
	border: none;
}

#footer {
	clear: both;
}

.center .nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	border: none;
	color: #00bbee;
}

.center .nav-tabs {
	border: none;
}

.center .nav-tabs>li:nth-child(1).active>a,
.nav-tabs>li:nth-child(1).active>a:focus,
.nav-tabs>li:nth-child(1).active>a:hover {
	background: url(../img/jbxx2.png) no-repeat left;
	padding-left: 30px;
}

.center .nav-tabs>li:nth-child(2).active>a,
.nav-tabs>li:nth-child(2).active>a:focus,
.nav-tabs>li:nth-child(2).active>a:hover {
	background: url(../img/xgmm2.png) no-repeat left;
	padding-left: 30px;
}

.center .nav-tabs>li:nth-child(3).active>a,
.nav-tabs>li:nth-child(3).active>a:focus,
.nav-tabs>li:nth-child(3).active>a:hover {
	background: url(../img/yjfk2.png) no-repeat left;
	padding-left: 30px;
}

.center .nav-tabs>li:nth-child(4).active>a,
.nav-tabs>li:nth-child(4).active>a:focus,
.nav-tabs>li:nth-child(4).active>a:hover {
	background: url(../img/yhzx2.png) no-repeat left;
	padding-left: 30px;
}

.center .nav-tabs>li:nth-child(1) a {
	background: url(../img/jbxx.png) no-repeat left;
	padding-left: 30px;
}

.center .nav-tabs>li:nth-child(2) a {
	background: url(../img/xgmm.png) no-repeat left;
	padding-left: 30px;
}

.center .nav-tabs>li:nth-child(3) a {
	background: url(../img/yjfkz.png) no-repeat left;
	padding-left: 30px;
}

.center .nav-tabs>li:nth-child(4) a {
	background: url(../img/yhzxz.png) no-repeat left;
	padding-left: 30px;
}

.center .nav-tabs>li a:hover {
	border: none;
}

.download div {
	margin: 130px 0;
}

.download div .img {
	width: 150px;
}

.download div p {
	width: 150px;
	text-align: center;
}

.download .az {
	background: #1bae33;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
	margin: 20px 0 30px 20px;
	text-align: center;
	width: 110px;
}

.download .az img {
	margin-right: 10px;
}

.download .matter {
	border-top: 1px solid #b6b6b6;
	padding-top: 20px;
}

#xb label {
	margin-left: 15px;
}

#yhzx img {
	margin-left: 30%;
	margin-top: 50px;
	margin-bottom: 50px;
}

#set,
#logout {
	display: none;
}

.a-hide {
	display: none;
}

.more {
	float: right;
	font-size: 14px;
	font-weight: 400;
	margin-top: -20px;
	cursor: pointer;
}


/*微信,支付宝授权页面*/

.wechatTop {
	padding: 20px 0;
	border-bottom: 2px solid #334df1;
}

.wechatCenter {
	width: 360px;
	margin: 0 auto;
	height: 100%;
}

.wechatCenter .sjh input {
	width: 360px;
	margin-top: 120px;
	height: 50px;
	padding: 0 15px;
}

.wechatCenter .yzm {
	margin-top: 20px;
}

.wechatCenter .yzm input {
	height: 50px;
	width: 234px;
	padding: 0 15px;
}

.wechatCenter .yzm button {
	height: 50px;
	width: 126px;
	margin-left: -5px;
	margin-top: 1px;
	background: #f0f0f0;
	border: none;
	border: 1px solid #ababab;
}

.wechatCenter .success {
	width: 360px;
	height: 50px;
	color: #fff;
	background: #4ecd57;
	border: none;
	font-size: 18px;
	margin-top: 50px;
}

.alipay {
	background: rgb(51, 51, 51);
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.impowerBox {
	line-height: 1.6;
	position: relative;
	width: 100%;
	z-index: 1;
	text-align: center
}

.impowerBox .title {
	text-align: center;
	font-size: 20px;
	color: #fff;
	margin-top: 50px;
}

.impowerBox .qrcode {
	width: 280px;
	margin-top: 15px;
	border: 1px solid #E2E2E2
}

.impowerBox .info {
	width: 280px;
	margin: 0 auto
}

.impowerBox .status {
	padding: 7px 14px;
	text-align: left
}

.impowerBox .status.status_browser {
	text-align: center;
	margin-top: 15px;
    background-color: #232323;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    box-shadow: inset 0 5px 10px -5px #191919, 0 1px 0 0 #444;
    -moz-box-shadow: inset 0 5px 10px -5px #191919,0 1px 0 0 #444;
    -webkit-box-shadow: inset 0 5px 10px -5px #191919, 0 1px 0 0 #444;
}

.impowerBox .status p {
	font-size: 13px;
	color: #fff;
	margin-top: 10px;
}

.impowerBox .status_icon {
	margin-right: 5px
}

.impowerBox .status_txt p {
	top: -2px;
	position: relative;
	margin: 0
}

.impowerBox .icon38_msg {
	display: inline-block;
	width: 38px;
	height: 38px
}

.impowerBox .icon38_msg.succ {
	background: url(../images/icon_popup3696b4.png)0 -46px no-repeat
}

.impowerBox .icon38_msg.warn {
	background: url(../images/icon_popup3696b4.png)0 -87px no-repeat
}

.current{
	color: #00bbee!important;
}
