<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>微信登录授权Demo</title>
		<!--<link rel="stylesheet" href="css/global.css" />
		<link rel="stylesheet" href="css/page.css" />-->
		<script>window.page_index = 0</script>
	</head>
	<body>
		<div id="header">
		</div>
		<div id="login-modal" class="login-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
			<div class="modal-dialog modal-sm login-modal" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="login-form form-horizontal mt30 mb15">
							<div class="row mb15" style="width: 100px">
								<div class="col-sm-7">
									<input class="form-control" placeholder="输入验证码" id="user-code"  />
								</div>
								<div class="col-sm-5 pull-right">
									<img src="" id="img-code" class="mui-pull-right" style="width: 100%;height: 34px;" />
								</div>
								<div class="clearfix"></div>
							</div>
							<h5 class="text-center mb15">其他登录方式</h5>
							<div class="text-center">
								<span class="wechat">

								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/lib.js" ></script>
		<script type="text/javascript" src="js/login.js" ></script>
	</body>
</html>
