<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.example.wmdemo.mapper.UserMapper">

    <resultMap id = "result" type = "com.example.wmdemo.util.User">
        <result property = "id" column = "id"/>
        <result property = "userName" column = "name"/>
        <result property="passWord" column="pwd"/>
    </resultMap>
    <select id = "findUserById" resultMap = "result">
        SELECT * FROM act_user where id = #{id};
    </select>
</mapper>